@model Albaque.Models.Projet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projet</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
