@model Albaque.ViewModels.TacheInformationViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tache</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.tache.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.tache.nom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tache.nom)
                @Html.ValidationMessageFor(model => model.tache.nom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tache.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tache.description)
                @Html.ValidationMessageFor(model => model.tache.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tache.charge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tache.charge)
                @Html.ValidationMessageFor(model => model.tache.charge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tache.CategorieId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.tache.CategorieId, new SelectList(Model.categories, "Id", "nom"), "Choix du categorie", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.tache.CategorieId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.tache.TechnologieId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.tache.TechnologieId, new SelectList(Model.technologies, "Id", "nom"), "Choix du techno", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.tache.TechnologieId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.tache.ComplexiteId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.tache.ComplexiteId, new SelectList(Model.complexites, "Id", "nom"), "Choix du complexite", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.tache.ComplexiteId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste des taches", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
